.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;

  .list-item {
    flex: 1 1 200px;
    max-width: 200px;
    min-width: 135px;
    height: 90px;

    > * {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:not(:last-child) {
      color: rgb(255, 255, 255);
    }
  }
}
