.card {
  position: fixed;
  top: 56px;
  bottom: 0;
  padding: 0;
  width: 56px;
  transition: width 0.25s, margin-left 0.25s;
  z-index: 200;
  border-radius: 0;

  &.open {
    width: 300px;
  }

  @media screen and (max-width: 500px) {
    margin-left: -56px;

    &.open {
      margin-left: 0;
      width: 100%;
    }
  }

  &-content {
    height: 100%;

    .nav-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0;
      height: 100%;

      &-section {
        display: flex;
        flex-direction: column;

        .login {
          display: flex;
          flex-direction: column;
        }
      }

      &-item {
        padding: 0;
        height: 56px;
        min-width: 0;

        &-content {
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 0 16px;
          height: 100%;

          > mat-icon {
            flex-shrink: 0;
          }

          > span {
            visibility: collapse;
            opacity: 0;
            flex-shrink: 0;
            transition: opacity 0.25s;

            &.show {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
