.toolbar {
  position: fixed;
  z-index: 100;
  height: 56px;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  &-section {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .dark-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
