.title-wrapper {
  margin-bottom: 50px;

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    h1 {
      margin: 0;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-buttons {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }
}

.divider {
  margin-bottom: 16px;
}
