<div class="title-wrapper">
  <div class="title">
    <h1>Your Workspaces</h1>
    <button
      type="button"
      mat-mini-fab
      color="primary"
      aria-label="Create workspace"
      matTooltip="Create Workspace"
      (click)="openCreateWorkspaceDialog()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
</div>
<ul class="list">
  <li *ngFor="let workspace of workspaces$ | async" class="list-item">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ workspace.title }}
        </mat-panel-title>
        <div class="actions">
          <a mat-raised-button color="primary" [routerLink]="[workspace.id]"
            >Open</a
          >
        </div>
      </mat-expansion-panel-header>
      <app-boards [workspace]="workspace"></app-boards>
    </mat-expansion-panel>
  </li>
</ul>
