.title-wrapper {
  margin-bottom: 50px;

  .title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    h1 {
      margin: 0;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;

  .actions {
    margin-right: 20px;
  }
}
