.content {
  max-width: 1128px;
  min-width: 260px;
  padding: 24px;
  padding-top: calc(56px + 24px);
  padding-left: calc(56px + 24px);
  margin: auto;
  transition: padding-left 0.25s;

  @media screen and (max-width: 500px) {
    padding-left: 24px;
  }
}
