<div class="wrapper mat-app-background">
  <mat-drawer-container class="sidenav-container" hasBackdrop="false">
    <mat-drawer
      #drawer
      mode="over"
      class="sidenav"
      autoFocus="false"
      (mouseleave)="drawer.close()"
      ><app-navigation
        (sideNavClose)="drawer.close()"
        (darkMode)="toggleDarkMode($event)"
      ></app-navigation
    ></mat-drawer>
    <mat-drawer-content class="drawer-content">
      <div class="content-wrapper">
        <div class="sidenav-trigger" (mouseenter)="drawer.open()"></div>
        <app-header
          (darkMode)="toggleDarkMode($event)"
          (sideNavOpen)="drawer.open()"
        ></app-header>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
