.wrapper {
  .sidenav-container {
    .sidenav {
      width: 300px;
      position: fixed;

      @media screen and (max-width: 500px) {
        width: 100%;
      }
    }

    .sidenav-trigger {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10px;
      z-index: 200;
    }

    .drawer-content {
      height: 100vh;
    }
  }

  .content-wrapper {
    .content {
      max-width: 1128px;
      min-width: 260px;
      margin: auto;
      padding: 24px;
      margin-top: 56px;
    }
  }
}
