<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-section">
    <button
      type="button"
      mat-icon-button
      matTooltip="Open Navigation Menu"
      aria-label="Open Navigation Menu"
      (click)="toggleDrawer()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Trello Clone</span>
  </div>

  <div class="toolbar-section">
    <div class="dark-toggle">
      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle [formControl]="darkModeToggle"></mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </div>
  </div>
</mat-toolbar>
