<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-section">
    <div class="navigation">
      <button
        type="button"
        class="menu-button"
        mat-button
        disableRipple
        matTooltip="Toggle Navigation Menu"
        aria-label="Toggle Navigation Menu"
        (click)="toggleNavigation()"
      >
        <mat-icon [class.open]="navigationOpen">menu_open</mat-icon>
      </button>
      <mat-divider vertical="true" class="navigation-divider"></mat-divider>
    </div>
    <span>Trello Clone</span>
  </div>

  <div class="toolbar-section">
    <div class="dark-toggle">
      <mat-icon>brightness_5</mat-icon>
      <mat-slide-toggle [formControl]="darkModeToggle"></mat-slide-toggle>
      <mat-icon>bedtime</mat-icon>
    </div>
  </div>
</mat-toolbar>
