<mat-grid-list [cols]="gridColumns" rowHeight="90px" gutterSize="20px">
  <mat-grid-tile *ngFor="let board of boards$ | async" class="list-item">
    <a
      mat-stroked-button
      [routerLink]="['/b', board.id]"
      [ngStyle]="{ 'background-color': getColor(board) }"
      class="list-item"
      >{{ board.title }}</a
    >
  </mat-grid-tile>
  <mat-grid-tile class="list-item">
    <button
      type="button"
      class="add-board"
      mat-stroked-button
      (click)="openCreateBoardDialog()"
    >
      Create new board
    </button>
  </mat-grid-tile>
</mat-grid-list>
