<form (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Register</h1>
  <div class="content" [formGroup]="form">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="isLoading; else formFields"
    ></mat-progress-bar>
    <ng-template #formFields>
      <mat-error class="error-message" *ngIf="errorMessage">{{
        errorMessage
      }}</mat-error>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter your email"
          formControlName="email"
        />
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">{{
          appService.getFormValidationError(email, controlType.Email)
        }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Enter your password"
          formControlName="password"
        />
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
          >{{
            appService.getFormValidationError(password, controlType.Password)
          }}</mat-error
        >
      </mat-form-field>
      <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
    </ng-template>
  </div>
  <div mat-dialog-actions>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Register
    </button>
    <button
      type="button"
      mat-button
      color="primary"
      (click)="openLoginDialog()"
    >
      Login
    </button>
    <button type="button" mat-button mat-dialog-close>Cancel</button>
  </div>
</form>
