.navigation-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;

  .navigation-header {
    display: flex;
    height: 56px;
    gap: 5px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;

    &-section {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      .workspaces {
        display: flex;
        flex-direction: column;
      }

      .button {
        width: 100%;
        padding: 8px 16px;
      }

      .workspaces-panel {
        width: 100%;
      }
    }
  }
}
