.nav-bar {
  display: flex;
  justify-content: space-between;

  section {
    display: flex;
  }
}

.mat-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.active-link {
  background-color: rgba(0, 0, 0, 0.2);
}
