.navigation {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  &-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    .workspaces {
      display: flex;
      flex-direction: column;
    }

    .button {
      width: 100%;
      padding: 8px 16px;
    }

    .workspaces-panel {
      width: 100%;
    }
  }
}
